 .u-section-1 {
  background-image: url("img/image11.png");
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-weight: 600;
  font-size: 16px;      
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 41px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -37px calc(((100% - 1140px) / 2)) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px calc(((100% - 1140px) / 2) + 85px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -33px calc(((100% - 1140px) / 2) + 170px) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 162px auto 95px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 670px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 185px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1140px) / 2) + 270px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 295px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1140px) / 2) + 380px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 381px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1140px) / 2) + 466px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 368px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1140px) / 2) + 514px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 149px;
    margin-left: calc(((100% - 340px) / 2) + -25px);
  }
}